{% extends 'base.html' %}
{% load static %}


{% block content %}
    <main class="main-left">
        <section class="blog-listing">
            <div class="container">
                <div class="title text-center">
                    <h3>My Projects</h3>
                </div>
                <div class="row">
                    {% for project in projects %}
                        <div class="col-md-6 m-15px-tb">
                            <div class="blog-grid">
                                <div class="blog-img">
                                    <a href="{% url 'project-detail' project.id %}">
                                        <img src="{{ project.image.url}}" title="" alt="">
                                    </a>
                                </div>
                                <div class="blog-info">
                                    <div class="meta">{{ project.date }}</div>
                                    <h6><a href="{% url 'project-detail' project.id %}">{{ project.title }}</a></h6>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
    <!-- End Main -->
{% endblock content %}

