{% extends 'base.html' %}
{% load static %}
{% block content %}


    <!-- Main Start -->
    <main class="main-left">
        <!-- Home -->
        <section id="home" class="home-banner">
            <div class="hb-top-fixed d-flex">
                <div class="hb-info">
                    <label>(+40) 746 804 771</label>
                    <label>m.sergiu01@gmail.com</label>
                </div>
            </div>
            <div class="container">
                <div class="row full-screen align-items-center">
                    <div class="col-lg-7">
                        <div class="type-box">
                            <h6>Hello, My name is</h6>
                            <h1 class="font-alt">Manta Sergiu Stefan</h1>
                            <p class="lead">Junior Python Developer &nbsp;|&nbsp; Django Developer</p>
                            <p class="desc">Welcome to my portofolio website ! This website was created by me using
                                Django
                                and Bootstrap4. </p>
                            <div class="btn-bar">
                                {% for post in file %}
                                    <a class="font-weight-bolder" href="{{ post.admin_upload.url }}"
                                       download="{{ post.admin_upload.url }}">Download CV</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hb-me"
                 style="background-image: url({% static 'images/wallpaperflare.com_wallpaper.png' %}); "></div>
        </section>
        <!-- End Home -->
        <!-- about us -->
        <section id="about" class="section dark-bg">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-6 col-lg-4">
                        <div class="about-me">
                            <div class="img">
                                <div class="img-in">
                                    <img src="{% static 'img/pozaEU1.jpg' %}" title="" alt="">
                                </div>
                                <div class="nav social-icons justify-content-center">
                                    <a href=""><i class="fab "></i></a>
                                    <a href="https://github.com/sergiustfn"><i class="fab fa-github"></i></a>
                                    <a href="https://www.linkedin.com/in/sergiu-manta/"><i
                                            class="fab fa-linkedin-in"></i></a>
                                    <a href="https://www.facebook.com/sergiu.stefan.71"><i class="fab  fa-facebook"></i></a>
                                    <a href=""><i class="fab "></i></a>
                                </div>
                            </div>
                            <div class="info">
                                <p>Junior Python Developer &nbsp;|&nbsp; Django Developer </p>
                                <h3>Manta Sergiu Stefan</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 ml-auto">
                        <div class="about-info">
                            <div class="title">
                                <h3>Biography</h3>
                            </div>
                            <div class="about-text">
                                <p>A team player with an upbeat attitude and a willingness to always
                                    improve. Passionate about technology, always learning something new. Excellent
                                    communication skills and willingness to help others improve.</p>
                                <p>I adapt easily to any
                                    situation and environment and I am eager to put into practice all the knowledge
                                    acquired so far in the field of software development.</p>
                            </div>
                            <div class="info-list">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <ul>
                                            <li>
                                                <label>Name: </label>
                                                <span>Manta Sergiu Stefan</span>
                                            </li>
                                            <li>
                                                <label>Birthday: </label>
                                                <span>28th September 1994</span>
                                            </li>
                                            <li>
                                                <label>Age: </label>
                                                <span>27 years</span>
                                            </li>
                                            <li>
                                                <label>Address: </label>
                                                <span>Cluj-Napoca</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6">
                                        <ul>
                                            <li>
                                                <label>Phone: </label>
                                                <span>(+40) 746 804 771</span>
                                            </li>
                                            <li>
                                                <label>Email: </label>
                                                <span>m.sergiu01@gmail.com</span>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- separated -->
                <div class="separated"></div>
                <!-- End separated -->
                <div class="title">
                    <h3>What I do?</h3>
                </div>
                <div class="row">
                    <div class="col-lg-4 m-15px-tb">
                        <div class="feature-box-01">
                            <i class="icon theme-bg icon-mobile"></i>
                            <div class="feature-content">
                                <h5>Front-End</h5>
                                <p>Currently studying Javascript and React Framework in order to develop my Front-End
                                    skills.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 m-15px-tb">
                        <div class="feature-box-01">
                            <i class="icon theme-bg icon-cloud"></i>
                            <div class="feature-content">
                                <h5>Back-End</h5>
                                <p>Implementing new features using the Django Framework that is based on Python.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 m-15px-tb">
                        <div class="feature-box-01">
                            <i class="icon theme-bg icon-book-open"></i>
                            <div class="feature-content">
                                <h5>Currently Studying</h5>
                                <p>
                                    The self-taught Programmer
                                    <br>
                                    The self-taught Computer Scientist by Cory Althoff
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- separated -->
                <div class="separated"></div>
                <!-- End separated -->

            </div>
        </section>

        <!-- End about us -->
        <!-- Resume -->
        <section id="resume" class="section">
            <div class="container">
                <div class="title">
                    <h3>Experience.</h3>
                </div>
                <div class="resume-box">
                    <div class="resume-row">
                        <div class="row">
                            <div class="col-md-4 col-xl-3">
                                <div class="rb-left">
                                    <h6>Elysian Chocolate </h6>
                                    <label>On Site</label>
                                    <p>March 2020 - September 2021</p>
                                    <div class="rb-time">Full Time</div>
                                </div>
                            </div>
                            <div class="col-md-8 col-xl-9">
                                <div class="rb-right">
                                    <h6>
                                        Elysian Chocolate Co-Founder, Fruit Boutique SRL, Cluj-Napoca
                                    </h6>
                                    <p>Self taught eCommerce platforms.
                                        <br>
                                        • Responsible for creating an online eCommerce platform where users could
                                        order, add personalized messages, choose time and date of delivery, choose
                                        box color etc.
                                        <br>
                                        • Single-handedly managed to deploy the website.
                                        <br>
                                        • Learned the basics of HTML and CSS
                                        <br>
                                        • Responsible for integrating an on-line payment platform (euplatesc.ro).
                                        <br>
                                        • Self taught SEO.
                                        <br>
                                        • Responsible for integrating Facebook Shop and Instagram Shop with my
                                        website.
                                        <br>
                                        • Developing good communication and negotiation skills.
                                        <br>
                                        • Creating the website banners using Photoshop.
                                        <br>
                                        • Creating chocolate box designs using Photoshop.
                                        <br>
                                        • Creating a unique product of which I`m really proud</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="resume-row">
                        <div class="row">
                            <div class="col-md-4 col-xl-3">
                                <div class="rb-left">
                                    <h6>Bombardier Transportation </h6>
                                    <label>On Site</label>
                                    <p>Jan 2019 - March 2020</p>
                                    <div class="rb-time">Full Time</div>
                                </div>
                            </div>
                            <div class="col-md-8 col-xl-9">
                                <div class="rb-right">
                                    <h6>Microsoft SharePoint Administration - Advisor, Bombardier
                                        Transportation, Cluj-Napoca</h6>
                                    <p>Self taught SharePoint with the aim to reduce manual workload for analysts and to
                                        improve efficiency:
                                        <br>
                                        • Responsible for migrating the Procurement "SharePoint 2010" platform to
                                        "SharePoint On-line".
                                        <br>
                                        • Re-created the whole SharePoint ecosystem on the new platform SharePoint
                                        On-line.
                                        <br>
                                        • Responsible for managing user-access and sensitive information.
                                        <br>
                                        • Developing different SharePoint sites for different departments,
                                        implementing custom business logic, always ensuring their needs were met.
                                        <br>
                                        • Developing automated reports using SharePoint Work-Flows and Power BI,
                                        reducing the report creation time to 0.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="resume-row">
                        <div class="row">
                            <div class="col-md-4 col-xl-3">
                                <div class="rb-left">
                                    <h6>Bombardier Transportation</h6>
                                    <label>On Site</label>
                                    <p>Nov 2017 - December 2018</p>
                                    <div class="rb-time">Full Time</div>
                                </div>
                            </div>
                            <div class="col-md-8 col-xl-9">
                                <div class="rb-right">
                                    <h6> IS Catalogue and Request Management Analyst, Bombardier
                                        Transportation, Cluj-Napoca</h6>
                                    <p> Responsible for creating and implementing business logic using the Prime
                                        Administration App.
                                        <br>
                                        • Creating different approval work-flows based on an internal catalog.
                                        <br>
                                        • Managing the users database, creating, updating or deleting accesses.
                                        <br>
                                        • Effectively managing user access.
                                        <br>
                                        • Implementing desktop procedures.
                                        <br>
                                        • Closely worked with IBM - Brasov for 5 months to ensure the catalog was
                                        transferred successfully to their solution.
                                        <br>
                                        • Ensuring a successful transition with 0 downtime to the new platform, which
                                        I achieved.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="resume-row">
                        <div class="row">
                            <div class="col-md-4 col-xl-3">
                                <div class="rb-left">
                                    <h6>Global Safety Textiles</h6>
                                    <label>On Site</label>
                                    <p>Aug 2016 - September 2017</p>
                                    <div class="rb-time">Full Time</div>
                                </div>
                            </div>
                            <div class="col-md-8 col-xl-9">
                                <div class="rb-right">
                                    <h6> Maintenance Technician, Global Safety Textiles, Sighisoara
                                    </h6>
                                    <p> • Responsible for the safety-stock of spare-parts, in order to keep the
                                        production going.
                                        <br>
                                        • Created monthly financial reports regarding spare-parts.
                                        <br>
                                        • Created weekly/monthly reports regarding the downtime of the machines
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- separated -->
                <div class="separated"></div>
                <!-- End separated -->
                <div class="title">
                    <h3>Education & Skills</h3>
                </div>
                <div class="row">
                    <div class="col-lg-4 m-15px-tb">
                        <ul class="aducation-box">
                            <li>
                                <span>Online Course (ongoing)</span>
                                <h6>Programming Expert : Python </h6>
                                <p>Teacher: Tim Rusica </p>
                                <p><a href="https://www.programmingexpert.io/index">Course: Programming Expert
                                    Python</a></p>
                            </li>
                            <li>
                                <span>2021-2022</span>
                                <h6>Student</h6>
                                <p>Software Development Academy - Python Technologies</p>
                            </li>

                            <li>
                                <span>Online Course</span>
                                <h6>Introduction to Django</h6>
                                <p>Teacher: Dennis Ivy </p>
                                <p>Course: <a href="https://dennisivy.teachable.com/courses/">Introduction to Django</a>
                                </p>
                            </li>
                            <li>
                                <span>Online Course</span>
                                <h6>Responsive Web Design Essentials</h6>
                                <p>Teacher: Daniel Scott </p>
                                <p>Course: <a
                                        href="https://bringyourownlaptop.com/courses/responsive-web-design-tutorial-course-html5-css3-bootstrap">Responsive
                                    Web Design Essentials</a></p>
                            </li>

                            <li>
                                <span>2013-2016</span>
                                <h6>Student</h6>
                                <p>Advertising, Universitatea Babeș-Bolyai , Cluj-Napoca
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-7 ml-auto m-15px-tb" style="margin-top: 200px;">
                        <h3>Skills</h3>
                        <div class="skill-lt">
                            <h6>Photoshop</h6>
                            <span>80%</span>
                            <div class="skill-bar">
                                <div class="skill-bar-in" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div><!-- /skill -->
                        <div class="skill-lt">
                            <h6>Python</h6>
                            <span>70%</span>
                            <div class="skill-bar">
                                <div class="skill-bar-in" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                                     aria-valuemax="100">
                                </div>
                            </div>
                        </div><!-- /skill -->
                        <div class="skill-lt">
                            <h6>Django</h6>
                            <span>80%</span>
                            <div class="skill-bar">
                                <div class="skill-bar-in" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                                     aria-valuemax="100">
                                </div>
                            </div>
                        </div><!-- /skill -->
                        <div class="skill-lt">
                            <h6>HTML/CSS/JavaScript</h6>
                            <span>30%</span>
                            <div class="skill-bar">
                                <div class="skill-bar-in" role="progressbar" aria-valuenow="30" aria-valuemin="0"
                                     aria-valuemax="100">
                                </div>
                            </div>
                        </div><!-- /skill -->
                    </div>
                </div>
            </div>


        </section>
        <!-- End Portfolio -->
        <!-- Blog -->
        <section id="blog" class="section">
            <div class="container">
                <div class="title">
                    <h3>My Portofolio</h3>
                </div>

                <div class="row">
                    {% for project in projects %}
                        <div class="col-md-6 m-15px-tb">
                            <div class="blog-grid">
                                <div class="blog-img">
                                    <a href="{% url 'project-detail' project.id %}">
                                        <img src="{{ project.image.url }}" title="" alt="" height="400px" width="800px">
                                    </a>
                                </div>
                                <div class="blog-info">
                                    <div class="meta">{{ project.date }}</div>
                                    <h6><a href="{% url 'project-detail' project.id %}">{{ project.title }}</a></h6>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="col-12 read-more-blog text-center">
                        <a class="px-btn px-btn-white" href="{% url 'all-projects' %}">View All Projects</a>
                    </div>
                </div>

            </div>
        </section>
        <!-- End Blog -->
        <!-- Contact us -->
        <section id="contactus" class="section dark-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-xl-4 m-15px-tb">
                        <div class="contact-info">
                            <h4>Get in touch with me</h4>
                            <p>If you like my projects feel free to contact me </p>
                            <ul>
                                <li class="media">
                                    <i class="ti-map"></i>
                                    <span class="media-body">Cluj-Napoca, Cluj, Romania.</span>
                                </li>
                                <li class="media">
                                    <i class="ti-email"></i>
                                    <span class="media-body">m.sergiu01@gmail.com</span>
                                </li>
                                <li class="media">
                                    <i class="ti-mobile"></i>
                                    <span class="media-body">(+40) 746 804 771</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-7 ml-auto m-15px-tb">
                        <div class="contact-form">
                            <h4>Contact Me</h4>
                            {% if subject %}
                                <p>The mail was sent succesfully</p>
                            {% else %}
                                <form id="contact-form" method="POST">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input name="Name" id="name" placeholder="Name *" class="form-control"
                                                       type="text" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input name="Email" id="email" placeholder="Email *"
                                                       class="form-control" type="email">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <input name="Subject" id="subject" placeholder="Subject *"
                                                       class="form-control" type="text" required>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <textarea name="message" id="message" placeholder="Your message *"
                                                          rows="5" class="form-control" required></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="send">
                                                <button class="px-btn px-btn-white" type="submit" value="Send"> send
                                                    message
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="google-map">
                            <div class="embed-responsive embed-responsive-21by9">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d87425.82294570674!2d23.546473027672082!3d46.78348183612321!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47490c1f916c0b8b%3A0xbbc601c331f148b!2sCluj-Napoca!5e0!3m2!1sro!2sro!4v1642491019622!5m2!1sro!2sro"
                                        width="600" height="450" style="border:0;" allowfullscreen=""
                                        loading="lazy"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Contact us -->
    </main>
    <!-- End Main -->


{% endblock %}